<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily limit reached</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
        .block:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        .block {
            text-align: center;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        #wrapper {
            flex: 1;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <section class="section is-large">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <div class="block">
                    <img src="https://app.exogress.com/exogress-brown.png" alt="Exogress"/>
                </div>

                <div class="block">
                    <h1 class="title">Daily limit reached</h1>
                </div>

                <div class="block">
                    <h2 class="subtitle">
                        Please, consider upgrading to a paid plan if you are the owner of the account.
                    </h2>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Powered by <a href="https://exogress.com">Exogress</a>
        </p>
    </div>
</footer>
</body>
</html>