<html>
<head>
    <title>This site requires authentication</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <style>
        .custom-restricted-width {
            /* To limit the menu width to the content of the menu: */
            display: inline-block;
            /* Or set the width explicitly: */
            /* width: 10em; */
        }
    </style>
</head>
<body>
<div>
    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Choose authentication provider:</span>
        <ul class="pure-menu-list">
            {{#each providers}}
                <li class="pure-menu-item" style="height: 50px">
                    <a href="{{ this.link }}" class="pure-menu-link">
                        <img style="height: 32px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/{{ this.name }}.svg" />
                        {{ this.name }}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
</body>
</html>