[submodule "exogress"]
	path = deps/exogress
	url = git@github.com:exogress/exogress.git
[submodule "deps/hyper"]
	path = deps/hyper
	url = https://github.com/glebpom/hyper.git
[submodule "deps/warp"]
	path = deps/warp
	url = https://github.com/glebpom/warp.git
[submodule "lifecycle-scripts"]
	path = lifecycle-scripts
	url = git@github.com:lancastr/lifecycle-scripts.git
[submodule "deps/tracing-gelf"]
	path = deps/tracing-gelf
	url = https://github.com/glebpom/tracing-gelf.git
